@import "../../../styles/main";

.nav {
  height: 64px;

  width: fit-content;
  justify-content: center;
  transition: all 0.3s;
  &:hover{
    color: $primary-color;
    border-bottom: solid 2px $primary-color;
}
&.active{
    border-bottom: solid 1px $primary-color;
}

    .nav__link{
      display: flex;
       align-items: center;
        height: 100%;

        transition: all 0.3s;
        text-transform: uppercase;

        font-family: $font-family-mont;
        color: $secondary-color;
        font-size: $small-font-size;
        text-align: center;
        line-height: $small-font-line-height;

        font-weight: 800;
        &:hover{
          color: $primary-color;
      }
      &.active{
        color: $primary-color;
      }
    }
}
