/* Colors */
$primary-color: #313237;
$secondary-color: #89939A;
$icons-color: #B4BDC3;
$elements-color: #E2E6E9;
$hover-bg-color: #FAFBFC;
$white-color:#fff;
$succes-color: #27AE60;
$error-color: #EB5757;
$font-family: 'Arial, sans-serif';
$font-size: 16px;


// Typography
$font-family-mont: 'Mont', sans-serif;

$h1-font: $font-family-mont;
$h1-size: 48px;
$h1-line-height: 56px;
$h1-letter-spacing: -0.01em;

$h2-font: $font-family-mont;
$h2-size: 32px;
$h2-line-height: 41px;
$h2-letter-spacing: -0.01em;

$h3-font: $font-family-mont;
$h3-size: 22px;
$h3-line-height: 31px;
$h3-letter-spacing: 0;

$h4-font: $font-family-mont;
$h4-size: 20px;
$h4-line-height: 26px;
$h4-letter-spacing: 0;

$uppercase-font: $font-family-mont;
$uppercase-size: 12px;
$uppercase-line-height: 11px;
$uppercase-letter-spacing: 0.04em;

$button-font-family: $font-family-mont;
$button-font-size: 14px;
$button-font-line-height: 21px;
$button-font-letter-spacing: 0;

$body-font-family: $font-family-mont;
$body-font-size: 14px;
$body-font-line-height: 21px;
$body-font-letter-spacing: 0;

$small-font-family: $font-family-mont;
$small-font-size: 12px;
$small-font-line-height: 15px;
$small-font-letter-spacing: 0;


// Typography for Mobile
$h1-mobile-size: 32px;
$h1-mobile-line-height: 41px;
$h1-mobile-letter-spacing: -0.01em;

$h2-mobile-size: 22px;
$h2-mobile-line-height: 31px;
$h2-mobile-letter-spacing: 0;

$h3-mobile-size: 20px;
$h3-mobile-line-height: 26px;
$h3-mobile-letter-spacing: 0;

$h4-mobile-size: 16px;
$h4-mobile-line-height: 20px;
$h4-mobile-letter-spacing: 0;
